name: Build and Deploy
on:
  # Push from all branches
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: script
          repository: peterjaric/wordfeudligan

      - name: Run script
        run: |
          cd script
          pip install --no-cache-dir -r requirements.txt
          bash run.sh
          cp wordfeudligan.txt ..
          cd ..

      - name: Install and Build
        run: |
          pip install rayter-generator
          rayter-generate-website --games-path . --output ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
